@use "../abstracts/" as *;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
    --font-pmry: "Open Sans", sans-serif;

    @each $component, $value in $colors {
        @each $prop, $value in $value {
            --clr-#{$component}-#{$prop}: #{$value};
        }
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
